<footer>
  <div id="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <div class="footer-logo-image">
          <img
            src="https://res.cloudinary.com/di3bh4qsl/image/upload/v1780517418/latest_smst_logo_1_vrlvwa.png"
            alt="The logo image for SmSt Africa"
          />
        </div>
        <div class="footer-logo-text">
          <span>SmSt Africa</span>
        </div>
      </div>
      <div class="newsletter-container flex justify-center">
        <div class="newsletter-input-container flex align-center">
          <input type="text" placeholder="Join Our Newsletter" />
        </div>
        <div class="newsletter-button">
          <button>Join Our Newsletter</button>
        </div>
      </div>
      <div class="footer-content">
        <div class="footer-grid-container">
          <div class="footer flex justify-center">
            <div class="footer-contact-details">
              <div class="footer-header">
                <span>Contact Us</span>
              </div>
              <div class="footer-contact-container">
                <div class="footer-social-contact">
                  <div class="footer-social">
                    <div class="social-icon flex">
                      <svg
                        width="30"
                        height="30"
                        viewBox="0 0 48 48"
                        version="1.1"
                        id="svg1"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:svg="http://www.w3.org/2000/svg"
                      >
                        <defs id="defs1" />
                        <g id="layer1">
                          <rect
                            style="
                              fill: none;
                              fill-opacity: 1;
                              stroke: #000000;
                              stroke-width: 3;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 2.5;
                              stroke-dasharray: none;
                              stroke-opacity: 1;
                              paint-order: normal;
                            "
                            id="rect5"
                            width="33.267326"
                            height="33.26733"
                            x="7.3663368"
                            y="7.3663349"
                            ry="7.5"
                          />
                          <ellipse
                            style="
                              fill: none;
                              fill-opacity: 1;
                              stroke: #000000;
                              stroke-width: 3;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 2.5;
                              stroke-dasharray: none;
                              stroke-opacity: 1;
                              paint-order: normal;
                            "
                            id="path5"
                            cx="24"
                            cy="24"
                            rx="7.6233902"
                            ry="7.6233912"
                          />
                          <ellipse
                            style="
                              fill: #000000;
                              fill-opacity: 1;
                              stroke: #000000;
                              stroke-width: 1.33519;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 2.5;
                              stroke-dasharray: none;
                              stroke-opacity: 1;
                              paint-order: normal;
                            "
                            id="ellipse5"
                            cx="33.667049"
                            cy="14.198491"
                            rx="1.8324028"
                            ry="1.8324031"
                          />
                        </g>
                      </svg>
                    </div>
                    <div class="social-icon flex">
                      <svg
                        width="30"
                        height="30"
                        viewBox="0 0 48 48"
                        version="1.1"
                        id="svg1"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:svg="http://www.w3.org/2000/svg"
                      >
                        <defs id="defs1" />
                        <g id="layer1">
                          <rect
                            style="
                              fill: none;
                              fill-opacity: 1;
                              stroke: #000000;
                              stroke-width: 3;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 2.5;
                              stroke-dasharray: none;
                              stroke-opacity: 1;
                              paint-order: normal;
                            "
                            id="rect6"
                            width="33.267326"
                            height="16.737425"
                            x="7.3663368"
                            y="15.631288"
                            ry="3.2104833"
                          />
                          <path
                            style="
                              fill: #000000;
                              fill-opacity: 1;
                              stroke: none;
                              stroke-width: 1.51757;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 2.5;
                              stroke-dasharray: none;
                              stroke-opacity: 1;
                              paint-order: normal;
                            "
                            id="path6"
                            d="m 21.872201,27.623458 0.05369,-7.277915 6.276013,3.685456 z"
                            transform="matrix(1.1848894,0,0,1.3624479,-4.8818772,-8.6776324)"
                          />
                        </g>
                      </svg>
                    </div>
                    <div class="social-icon flex">
                      <svg
                        width="30"
                        height="30"
                        viewBox="0 0 48 48"
                        version="1.1"
                        id="svg1"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:svg="http://www.w3.org/2000/svg"
                      >
                        <defs id="defs1" />
                        <g id="layer1">
                          <rect
                            style="
                              fill: none;
                              fill-opacity: 1;
                              stroke: #000000;
                              stroke-width: 3;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 2.5;
                              stroke-dasharray: none;
                              stroke-opacity: 1;
                              paint-order: normal;
                            "
                            id="rect7"
                            width="33.267323"
                            height="22.966846"
                            x="7.3663368"
                            y="12.51658"
                            ry="3"
                          />
                          <path
                            style="
                              fill: none;
                              fill-opacity: 1;
                              stroke: #000000;
                              stroke-width: 3.14559;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 2.5;
                              stroke-dasharray: none;
                              stroke-opacity: 1;
                              paint-order: normal;
                            "
                            d="m 10.673037,12.51658 25.969692,0 a 1.7518415,1.7518415 63.221832 0 1 1.409254,2.792492 L 23.999998,34.338341 9.5415587,14.758649 A 1.4065396,1.4065396 116.77817 0 1 10.673037,12.51658 Z"
                            id="path7"
                            transform="matrix(1.0049982,0,0,0.90505276,-0.11911225,1.135409)"
                          />
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer flex justify-center">
            <div class="footer-smst-app">
              <div class="footer-header">
                <span>SmSt Apps</span>
              </div>
              <div class="footer-app-links">
                <div class="app-link">
                  <span>SmSt Blogs</span>
                </div>
                <div class="app-link">
                  <span>SmSt Ject</span>
                </div>
                <div class="app-link">
                  <span>SmSt Test</span>
                </div>
              </div>
            </div>
          </div>
          <div class="footer flex justify-center">
            <div class="footer-support-details">
              <div class="footer-header">
                <span>SmSt Support</span>
              </div>
              <div class="footer-support">
                <div class="support-link">
                  <span>Terms of Use</span>
                </div>
                <div class="support-link">
                  <span>Privacy Policy</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
