<div class="pricingContainer">
    <div id="pricingIntro" class="animate__animated animate__fadeIn">
        <div class="pricingTitle">
            <span>Upgrade the Experience</span>
        </div>
        <div class="pricingSubTitle">
            <span>Get upto <strong>20% off</strong> your first year in Pro.</span>
        </div>
    </div>
    <div id="pricing" class="flex justify-center">
        <div class="pricing-container">
            <div class="pricing animate__animated animate__fadeInUp">
                <div class="pricing-name">
                    <span>Free</span>
                </div>
                <div class="pricing-range">
                    <div class="pricing-amount">
                        <span>0 Ksh</span>
                    </div>
                    |
                    <div class="pricing-time">
                        <span>Month</span>
                    </div>
                </div>
                <div class="pricing-button flex justify-center">
                    <button>
                        Start for Free
                    </button>
                </div>
                <div class="pricing-benefits">
                    <div class="benefit-container">
                        <div class="benefit">
                            <span>Access all SmSt Apps</span>
                        </div>
                    </div>
                </div>
            </div>
             <div class="pricing animate__animated animate__fadeInUp">
                <div class="pricing-name">
                    <span>Pro</span>
                </div>
                <div class="pricing-range">
                    <div class="pricing-amount">
                        <span>500 Ksh</span>
                    </div>
                    <div class="sign">
                        |
                    </div>
                    <div class="pricing-time">
                        <span>Month</span>
                    </div>
                </div>
                <div class="pricing-button flex justify-center">
                    <button>
                        14 days Free
                    </button>
                </div>
                <div class="pricing-benefits">
                    <div class="benefit-container">
                        <div class="benefit">
                            <span>Access premium features on SmSt Apps</span>
                        </div>
                    </div>
                </div>
            </div>
             <div class="pricing animate__animated animate__fadeInUp">
                <div class="pricing-name">
                    <span>Custom</span>
                </div>
                <div class="pricing-range">
                    <div class="pricing-amount">
                        <span>1,000 Ksh +</span>
                    </div>
                    |
                    <div class="pricing-time">
                        <span>Month</span>
                    </div>
                </div>
                <div class="pricing-button flex justify-center">
                    <button>
                        Contact Sales
                    </button>
                </div>
                <div class="pricing-benefits">
                    <div class="benefit-container">
                        <div class="benefit">
                            <span>Create your own accessible SmSt App.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pricing-faq-container" class="flex justify-center">
        <div class="pricing-faq">
            <details>
                <summary>Can I use SmSt for Free?</summary>
                <p>Yes! SmSt Africa is free for use with just a SmSt Account. However there are limits placed in each app which can be unlocked by joining pro!</p>
            </details>
            <details>
                <summary>What are the payment Methods?</summary>
                <p>SmSt Africa uses <a href="https://paystack.com">Paystack</a> to request payments from users through their mobile wallet (MPESA or Airtel Money) or through their credit card. None of the payment information is stored in our server in order to increase security for your account. Every payment step is managed directly by Paystack. Read their <a href="https://paystack.com/ke/terms?q=/terms">Terms of Conditions and Privacy Policy</a> to understand how they process your data.</p>
            </details>
            <details>
                <summary>Can I get Refunds?</summary>
                <p>Yes, but only withing the first <strong>Seven (7) days</strong>  after your <strong>first</strong> payment. Consequent monthly payments are not refundable.</p>
            </details>
        </div>
    </div>
</div>