<div class="modal-container flex animate__animated">
    <div class="modal-holder">
        <input type="hidden" id="modal-value"> 
        <div class="modal flex">
            <div class="modalHeader">
                <span id="modalHeader"></span>
            </div>
            <div class="modalContent">
                <div class="modalContentHolder">

                </div>
            </div>
            <div class="modalFooter">
                <div class="footerHolder">
                    <div class="modal-footer-button" id="cancel">
                        <span>Cancel</span>
                    </div>
                    <div class="modal-footer-button" id="accept">
                        <span>Accept</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>