{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmSt Africa</title>
    {% include 'smst/smst_header.html' %}
    <link rel="stylesheet" href="{% static 'frontend/frontend.min.css' %}" />
    
  </head>
  <body>
    {% include 'snippets/theme/shader.html' %} 
    {% include 'snippets/frontend/header.html' %}
    <main>
      <section>
        <div id="mainContent">
          
        </div>
      </section>
    </main>
    {% include 'snippets/frontend/footer.html' %}
    {% include 'snippets/attachables/modal.html' %}
    <script type="module" src="{% static 'js/frontend/frontend.prod.js' %}"></script>
  </body>
</html>
