<div class="inputHolder animate__animated animate__fadeInRight">
    
    <input type="hidden" class="otpFullValue" id="fullOtp">
    <div class="otpInputHolder">
        <input class="numeric-input" type="text" maxlength="1">
        <input class="numeric-input" type="text" maxlength="1">
        <input class="numeric-input" type="text" maxlength="1">
        <input class="numeric-input" type="text" maxlength="1">
        <input class="numeric-input" type="text" maxlength="1">
        <input class="numeric-input" type="text" maxlength="1">
    </div>
</div>
{% include 'snippets/notifications/formOutput.html' %}
{% include 'snippets/extendors/otp_button.html' %}
{% include 'snippets/extendors/otp_footer.html' %}
