{% load static %}
{% load pwa %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmSt Account</title>
    {% include 'smst/smst_header.html' %}
    <link rel="stylesheet" href="{% static 'account/account.min.css' %}">
    {% progressive_web_app_meta %}
  </head>
  <body>
    {% include 'snippets/theme/shader.html' %}

    <main>
      <div id="mainContent" class="absolute">
        {% block content %}{% endblock %}
        
      </div>
    </main>
    {% block script %}
    {% endblock %}
  </body>
</html>
