{% extends 'email/base_email.html' %} 

{% block content %}
<body
  data-selector="0-2"
  style="background-color: rgb(255, 255, 255); word-spacing: normal"
>
  <div
    data-selector="0-2-1"
    class="email-block node-idx-content node-type-page email-block-selected"
    style="background-color: rgb(255, 255, 255)"
    role="tab"
    tabindex="0"
  >
    <div
      data-selector="0-2-1-3"
      class="email-block node-idx-content.children.[0] node-type-advanced_section"
      style="max-width: 600px; margin: 0px auto"
      role="tab"
      tabindex="0"
    >
      <table
        data-selector="0-2-1-3-1"
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="width: 100%"
      >
        <tbody data-selector="0-2-1-3-1-1">
          <tr data-selector="0-2-1-3-1-1-1">
            <td
              data-selector="0-2-1-3-1-1-1-1"
              style="
                text-align: center;
                font-size: 0px;
                direction: ltr;
                border: medium;
              "
            >
              <div
                data-selector="0-2-1-3-1-1-1-1-3"
                class="mj-column-per-100 mj-outlook-group-fix email-block node-idx-content.children.[0].children.[0] node-type-advanced_column"
                style="
                  width: 100%;
                  vertical-align: top;
                  display: inline-block;
                  direction: ltr;
                  text-align: left;
                  font-size: 0px;
                "
                role="tab"
                tabindex="0"
              >
                <table
                  data-selector="0-2-1-3-1-1-1-1-3-1"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  width="100%"
                >
                  <tbody data-selector="0-2-1-3-1-1-1-1-3-1-1">
                    <tr data-selector="0-2-1-3-1-1-1-1-3-1-1-1">
                      <td
                        data-selector="0-2-1-3-1-1-1-1-3-1-1-1-1"
                        style="
                          padding: 0px;
                          vertical-align: top;
                          border: medium;
                        "
                      >
                        <table
                          data-selector="0-2-1-3-1-1-1-1-3-1-1-1-1-1"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                          width="100%"
                        >
                          <tbody data-selector="0-2-1-3-1-1-1-1-3-1-1-1-1-1-1">
                            <tr data-selector="0-2-1-3-1-1-1-1-3-1-1-1-1-1-1-1">
                              <td
                                data-selector="0-2-1-3-1-1-1-1-3-1-1-1-1-1-1-1-1"
                                align="center"
                                class="email-block node-idx-content.children.[0].children.[0].children.[0] node-type-advanced_text node-type-text retainful-text-content"
                                style="
                                  word-break: break-word;
                                  padding: 10px 25px;
                                  font-size: 0px;
                                "
                                role="tab"
                                tabindex="0"
                              >
                                <div
                                  class="tiptap-rich-text-host"
                                  data-selector="0-2-1-3-1-1-1-1-3-1-1-1-1-1-1-1-1-1"
                                  style="
                                    color: rgb(0, 0, 0);
                                    text-align: center;
                                    line-height: 1.7;
                                    font-weight: 500;
                                    font-size: 20px;
                                    font-family: Jost, Arial, sans-serif;
                                  "
                                  data-content_editable-type="rich_text"
                                  data-content_editable-idx="content.children.[0].children.[0].children.[0].data.value.content"
                                  data-tiptap-rich-text="true"
                                >
                                  <div class="tiptap-editor-surface">
                                    <div
                                      contenteditable="true"
                                      spellcheck="true"
                                      translate="no"
                                      class="tiptap ProseMirror ProseMirror-host"
                                      tabindex="0"
                                    >
                                      <p>Verify your email.</p>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>

                            <tr data-selector="0-2-1-3-1-1-1-1-3-1-1-1-1-1-1-3">
                              <td
                                data-selector="0-2-1-3-1-1-1-1-3-1-1-1-1-1-1-3-1"
                                align="center"
                                class="email-block node-idx-content.children.[0].children.[0].children.[1] node-type-advanced_text node-type-text retainful-text-content"
                                style="
                                  word-break: break-word;
                                  padding: 10px 25px;
                                  font-size: 0px;
                                "
                                role="tab"
                                tabindex="0"
                              >
                                <div
                                  class="tiptap-rich-text-host"
                                  data-selector="0-2-1-3-1-1-1-1-3-1-1-1-1-1-1-3-1-1"
                                  style="
                                    color: rgb(0, 0, 0);
                                    text-align: center;
                                    line-height: 1.7;
                                    font-weight: 400;
                                    font-size: 14px;
                                    font-family: Figtree, Arial, sans-serif;
                                  "
                                  data-content_editable-type="rich_text"
                                  data-content_editable-idx="content.children.[0].children.[0].children.[1].data.value.content"
                                  data-tiptap-rich-text="true"
                                >
                                  <div class="tiptap-editor-surface">
                                    <div
                                      contenteditable="true"
                                      spellcheck="true"
                                      translate="no"
                                      class="tiptap ProseMirror ProseMirror-host"
                                      tabindex="0"
                                    >
                                      <p>
                                        Hello {{user}}, you are creating an
                                        account with SmSt. Kindly Verify your
                                        email by entering this 6 digit code. It
                                        expires in 3 minutes
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      data-selector="0-2-1-7"
      class="email-block node-idx-content.children.[1] node-type-advanced_section"
      style="max-width: 600px; margin: 0px auto"
      role="tab"
      tabindex="0"
    >
      <table
        data-selector="0-2-1-7-1"
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="width: 100%"
      >
        <tbody data-selector="0-2-1-7-1-1">
          <tr data-selector="0-2-1-7-1-1-1">
            <td
              data-selector="0-2-1-7-1-1-1-1"
              style="
                text-align: center;
                font-size: 0px;
                direction: ltr;
                border: medium;
              "
            >
              <div
                data-selector="0-2-1-7-1-1-1-1-3"
                class="mj-column-per-100 mj-outlook-group-fix email-block node-idx-content.children.[1].children.[0] node-type-advanced_column"
                style="
                  width: 100%;
                  vertical-align: top;
                  display: inline-block;
                  direction: ltr;
                  text-align: left;
                  font-size: 0px;
                "
                role="tab"
                tabindex="0"
              >
                <table
                  data-selector="0-2-1-7-1-1-1-1-3-1"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  width="100%"
                >
                  <tbody data-selector="0-2-1-7-1-1-1-1-3-1-1">
                    <tr data-selector="0-2-1-7-1-1-1-1-3-1-1-1">
                      <td
                        data-selector="0-2-1-7-1-1-1-1-3-1-1-1-1"
                        style="
                          padding: 0px;
                          vertical-align: top;
                          border: medium;
                        "
                      >
                        <table
                          data-selector="0-2-1-7-1-1-1-1-3-1-1-1-1-1"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                          width="100%"
                        >
                          <tbody data-selector="0-2-1-7-1-1-1-1-3-1-1-1-1-1-1">
                            <tr data-selector="0-2-1-7-1-1-1-1-3-1-1-1-1-1-1-1">
                              <td
                                data-selector="0-2-1-7-1-1-1-1-3-1-1-1-1-1-1-1-1"
                                align="center"
                                class="email-block node-idx-content.children.[1].children.[0].children.[0] node-type-advanced_text node-type-text retainful-text-content"
                                style="
                                  word-break: break-word;
                                  padding: 10px 25px;
                                  font-size: 0px;
                                "
                                role="tab"
                                tabindex="0"
                              >
                                <div
                                  class="tiptap-rich-text-host"
                                  data-selector="0-2-1-7-1-1-1-1-3-1-1-1-1-1-1-1-1-1"
                                  style="
                                    color: rgb(63, 106, 123);
                                    text-align: center;
                                    line-height: 1.7;
                                    font-weight: 700;
                                    font-size: 36px;
                                    font-family: Inconsolata, Arial, sans-serif;
                                    letter-spacing: 4px;
                                  "
                                  data-content_editable-type="rich_text"
                                  data-content_editable-idx="content.children.[1].children.[0].children.[0].data.value.content"
                                  data-tiptap-rich-text="true"
                                >
                                  <div class="tiptap-editor-surface">
                                    <div
                                      contenteditable="true"
                                      spellcheck="true"
                                      translate="no"
                                      class="tiptap ProseMirror ProseMirror-host"
                                      tabindex="0"
                                    >
                                      <p>{{otp}}</p>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</body>

{% endblock %}
